@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin: 1rem 1rem;
  width: 80vw;
  max-width: 500px;
  min-height: 300px;
  background-color: var(--color-background-dark);
  padding: 1em 2em;
  margin: auto;
  border-radius: 2em;
  word-wrap: break-word
}

@media (hover: hover) {
  a:hover{
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

a,
.green {
  text-decoration: none;
  color: var(--main-color-green);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    justify-content: space-around;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
}




